h1 {
	font-weight: bold;
}
body {
	background-color: #000;
	color: white;
}
.leftrightpad {
	margin-left: 20px;
	margin-right: 20px;
}
.contentBody {
	background-color: #FFF;
	color: black;
	padding: 20px;
}

footer {
	background-color: #000;
	color: white;
	text-align: center;
	padding: 25px;
}